<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web form</title>
<style>
a{
  color : dark-yellow;
}



form{
  padding: 5px;
  position: relative;
  left: 25px;
  
}

h2{
   text-align:left;
   color: yellow;
   padding:0px;
   text-size:20px;
}

h5{
  text-align:right;
   color: yellow;

}
</style>  
</head>
{% include "base.html" %}
{% block content  %}
<center>
<body background="https://images.pexels.com/photos/910213/pexels-photo-910213.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" link="white" alink="blue" vlink="#F8F8FF">

    <h1>  Forum  </h1>
    
  <form class = "d-flex" method = POST action = "{% url 'search_bar' %}">
   {% csrf_token %}
    
    <input class = "form-control me-2" type = "search" placeholder = "Search" aria-label = "Search" name = "searched">
    <button class = "btn btn-outline-secondary" type="submit">Search</button>

  </form>

<div type = 'box' style = "width: 800px; background-color:#AF62B2; height: 400px; line-height: 3em; overflow:scroll; border: thin #000 solid; padding: 5px; opacity: 3">
 {% for venue  in venues  %}
    {% if venue.answer != None%}
    <h2>{{forloop.counter}}  : <a class ="top" href="{% url 'show_forum' venue.id %}">{{venue.query}}</a></h2>
    
 
     <hr>
    {% endif %}
{% endfor %}
</div>
<a href = "http://127.0.0.1:8000/admin/web/contact">Admin Page </a>

</body>
</center>
 {% endblock  %}
</html>
 